.link-1 {
    text-decoration: underline;
    cursor: pointer;
}

input {
    padding: .5rem;
}

#profile-head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#profile-photo {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
}

.title-1 {
	font-size: 2rem;
	font-weight: 700;
	margin: 1rem 0;
	text-align: center;
}


@media screen and (max-width: 600px) {
    #profile-head {
        flex-direction: column;
    }
}