

.box-1 {
    border-radius: .5rem;
    box-shadow:
        0 0 .5rem var(--shadow-1),
        0 0 1rem var(--shadow-2);
    display: flex;
    flex-direction: column;
    padding: .5rem;
}

.box-shadow-1 {
    box-shadow:
        0 0 .5rem var(--shadow-1),
        0 0 1rem var(--shadow-2);
}