

/* #######################################  scroll product ############################# */

.scroll-product {
	height: 14rem;
	background-color: var(--color4);
	
}

.scrollpro-child {
	display: flex;
	overflow-x: auto;
	height: 12rem;
}

.scroll-child {
	
	
	background-size: cover;
	
}



/* ################################  slide product ################################# */

.slide-product {
	position: relative;
	height: 15rem;
	background-size: cover;
	background-position: top;
}

#img1 {
	background-image: url(../images/shop_image1.jpg);
}

#img2 {
	background-image: url(../images/shop_image2.jpg);
}

#img3 {
	background-image: url(../images/shop_image3.jpg);
}

#img4 {
	background-image: url(../images/shop_image4.jpg);
}

.slide-product #left-button {
	position: absolute;
	top: 10%;
	left: 1rem;
	width: 3rem;
	height: 80%;
	background-color: rgb(255, 255, 255, .5);
}

.slide-product #right-button {
	position: absolute;
	top: 10%;
	right: 1rem;
	width: 3rem;
	height: 80%;
	background-color: rgb(255, 255, 255, .5);
}


