
.button-1 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--color2);
    color: var(--color1);
    margin: .5rem;
    min-width: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
    gap: .5rem;
}


.button-1:hover {
    opacity: .8;
}


.button-2 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--color1);
    color: var(--color2);
    margin: .5rem;
    cursor: pointer;
    gap: .5rem;
}

.button-3 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--color2);
    color: var(--color1);
    margin: .5rem;
    min-width: 5rem;
    
    
    cursor: pointer;
    gap: .5rem;
}

.button-3:hover {
    opacity: 0.8;
}


.button-4 {
    padding: .5rem;
    box-shadow:
        0 0 .5rem var(--shadow-1),
        0 0 1rem var(--shadow-2);
    border-radius: .5rem;
    cursor: pointer;
    min-width: 3rem;
}

.button-4:hover {
    opacity: .8;
}

.button-4a {
    background-color: var(--color2);
    color: var(--color1);
}