
.button-1 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--color1);
    color: var(--color2);
    margin: .5rem;
    min-width: 5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
    gap: .5rem;
}


.button-1:hover {
    background-color: var(--color2);
    color: var(--color1);
}


.button-2 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--color1);
    color: var(--color2);
    margin: .5rem;
    cursor: pointer;
    gap: .5rem;
}