@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";





* {
	box-sizing: border-box;
}

:root {
	--color1: white;
	--color2: black;
	--color3: #632EE3;
	--color3-1: #9F62F2;
	--color4: #001931;
	--color5: #818080;
	--color6: #FF8811;
	--color7: #00D390;
	--color-blur: rgba(0, 0, 0, 0.338);
	--shadow-1: rgba(0, 0, 0, 0.2);
	--shadow-2: rgba(0, 0, 0, 0.15);
}


html {
	font-family: "Merriweather", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;
}



.cen-ver {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cen-hor {
	display: flex;
	justify-content: center;
	align-items: center;
}


@media screen and (max-width: 1024px) {
	html {
		font-size: 14px;
	}
}


@media screen and (max-width: 768px) {
	html {
		font-size: 12px;
	}
}