[color-theme="light"] {
	--color1: white;
	--color2: black;
	--color3: #632EE3;
	--color3-1: #9F62F2;
	--color4: #001931;
	--color5: #818080;
	--color6: #FF8811;
	--color7: #00D390;
	--shadow-1: rgba(0, 0, 0, 0.2);
	--shadow-2: rgba(0, 0, 0, 0.4);

}


[color-theme="dark"] {
	--color1: black;
	--color2: white;
	--shadow-1: rgba(255, 255, 255, 0.2);
	--shadow-2: rgba(255, 255, 255, 0.15);
}